---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import HomePage from "@/components/HomePage.astro";
import Footer from "@/components/Footer.astro";
import { SITE_LOCALES } from "@/utils/i18n-path";

export function getStaticPaths() {
  return SITE_LOCALES.map((lang) => ({ params: { lang } }));
}

---

<Layout>
  <Header />
  <main id="main-content" class="flex-grow pt-[72px] relative z-10">
    <HomePage />
  </main>
  <Footer />
</Layout>
